/* dialog 태그를 통해 열었을 경우 */
body:has(dialog[open]) {
  overflow: hidden !important;
}
.aboutPage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  opacity: 0.8;
  background-image: radial-gradient(#f2af8d 0.5px, #f5e9e3 0.8px);
  background-size: 10px 10px;
  color: #000;
}
.aboutPage section {
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 700px;
  padding: 30px;
}
.container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25vw;
  left: -25vw;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #f18149;
}

.container::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -25vw;
  right: -25vw;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #f18149;
}

/* home link animation START */
.home_link {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  -webkit-text-stroke: 1px #fff;
  /* transition: all 0.2s; */
}
.home_link::before,
.home_link::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.home_link::before {
  background-color: #2d2d2d;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.home_link::after {
  content: "rowanna.";
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  -webkit-text-stroke: 0;
  color: #2d2d2d;
}
.home_link:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.home_link:hover::after {
  transform: translate3d(0, 0, 0);
}

.home_link span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.home_link:hover span {
  transform: translate3d(-200%, 0, 0);
}
/* home link animation END */

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
}

.profile_img {
  background-image: url("/static/img/my-notion-face-portrait.png");
  background-size: cover;
  background-position: 0% 70%;

  height: 300px;
  width: 300px;

  grid-row: 1 / span 2;
}
.profile_info_link_wrap a {
  display: inline-block;
  margin: 0 10px 10px 0;
  font-weight: 700;
}

.work_card_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 10px;
}

/* .work_card_wrap .work_card_item {
} */

.work_card_item button {
  width: 100%;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #cecdcd -1px -1px 10px;
  border: 0.5px solid #f7dfd3;
  background-color: #f3ece9;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  color: #000;
}
.work_card_item:hover button {
  transform: scale(1.05);
  transform: translate(0, -5px);
}
.item_desc {
  margin-top: 10px;
}

.item_desc h3 {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.item_desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.tag_wrap {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}
.tag_wrap span {
  border: 1px solid #f39c73;
  background-color: #f39c73;
  color: #fff;
  margin: 0 5px 4px 0;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 11px;
}
.tag_wrap span:nth-child(2n) {
  background-color: unset;
  color: #f39c73;
}

.type span {
  background-color: #8e5c44;
  color: #fff;
  margin: 0 5px 4px 0;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 11px;
}

@media (max-width: 940px) {
  .container {
    width: 100vw;
    min-width: 300px;
  }
  .profile {
    grid-template-columns: 1fr;
    /* display: unset; */
  }
  .profile_img {
    margin-bottom: 30px;
  }
}
@media (max-width: 520px) {
  .work_card_wrap {
    grid-template-columns: 1fr;
  }
}
