.about_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  min-width: 500px;
  border: 10px solid #f2af8d;
  z-index: 1;
}
.backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

img {
  z-index: 4;
}

.closeBtn {
  position: absolute;
  right: -25px;
  top: 25px;
  overflow: hidden;
  width: 50px;
  padding: 10px 0 0;
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #f2af8d;
  cursor: pointer;
  color: transparent;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 40px;
  text-transform: uppercase;
  outline: none;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}

.closeBtn::before,
.closeBtn::after {
  background-color: #f2af8d;
  content: "";
  display: block;
  height: 3px;
  right: -44px;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 91.4214px;
  z-index: -1;
}

.closeBtn::before {
  top: 0;
  transform: rotate(45deg);
}

.closeBtn::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.closeBtn:hover {
  color: #8a2387;
}

.closeBtn:hover::before,
.closeBtn:hover::after {
  height: 50px;
  transform: rotate(0deg);
}

.dialog_item_desc {
  margin-top: 10px;
}

.dialog_item_desc h3 {
  font-size: 16px;
}

.tag_wrap {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}
.tag_wrap span {
  border: 1px solid #f39c73;
  background-color: #f39c73;
  color: #fff;
  margin: 0 5px 4px 0;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 11px;
}
.tag_wrap span:nth-child(2n) {
  background-color: unset;
  color: #f39c73;
}

.type span {
  background-color: #8e5c44;
  color: #fff;
  margin: 0 5px 4px 0;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 11px;
}
@media (max-width: 1100px) {
  .about_dialog {
    width: 100%;
    min-width: unset;
  }
}
